<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.lista.free.player.listaperu"
    version   = "1.0.1">
  <name>ListaPerú</name>

  <description>
    Listado de todos los lugares que necesites ir. agentes, emergencia, ocio y más.
  </description>

  <author href="http://innovationssystems.com" email="informes@innovationssystems.com">
      innovations systems group
  </author>

  <gap:platform name="android" />

  <preference name="permissions"      value="none"/>
  <preference name="phonegap-version" value="2.9.0" />
  <preference name="orientation"      value="portrait" />
  <preference name="target-device"    value="universal" />
  <preference name="fullscreen"       value="false" />

  <gap:splash src="style/images/splash/drawable-hdpi/splash.9.png" gap:platform="android" gap:density="hdpi" />
  <gap:splash src="style/images/splash/drawable-mdpi/splash.9.png" gap:platform="android" gap:density="mdpi" />
  <gap:splash src="tyle/images/splash/drawable-xhdpi/splash.9.png" gap:platform="android" gap:density="xhdpi" />
   <gap:splash src="tyle/images/splash/drawable-xxhdpi/splash.9.png" gap:platform="android" gap:density="xxhdpi" />

  <icon src="icon.png" width="64" height="64" gap:role="default" />
  <icon src="style/images/icon/android/drawable-hdpi/ic_launcher.png" width="72" height="72" gap:platform="android" gap:density="hdpi" />
  <icon src="style/images/icon/android/drawable-xhdpi/ic_launcher.png" width="96" height="96" gap:platform="android" gap:density="xhdpi" />

  <plugin name="InAppBrowser" value="CDVInAppBrowser" />
  <access origin="http://listaperu.com" subdomains="true" />
</widget>
